
.header-2 {
    width: 100%;
    background: #040b13;
    box-shadow: 0px 18px 22px -19px black;
}
.header-2-container {
    padding-top: 12px;
    padding-bottom: 12px;
}

nav.nav-bar {
    display: flex;
    justify-content: center;
}

nav.nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    border-right: 1px solid rgb(150, 150, 150);
}
nav.nav-bar a::before{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background: #FFD28F;
    bottom: -5px;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
}
nav.nav-bar a:hover {
    transition-property: color;
    color: orange;
    transition-duration: 0.3s;
}

nav.nav-bar a:not(:hover) {
    transition-property: color;
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
}
.fondo-header {
    height: 110px;
}
